@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to Online Book Store</h1>
    <p class="lead">Explore the world By Reading And Make Your Future Bright</p>

    <div class="row mt-5">
        <div class="col-md-6">
            <img src="~/Pictures/pic1.jpg" alt="ASP.NET Core Image" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <p class="lead">Why You have To Visit Here??</p>
            <ul class="list-unstyled">
                <li>Modern and cross-platform</li>
                <li>Open-source and community-driven</li>
                <li>High-performance and scalable</li>
                <li>Integrated with the latest web technologies</li>
            </ul>
        </div>
    </div>

    <div class="mt-5">
        <p class="lead">Ready to get started?</p>
        
    </div>
</div>

